@model ContactUsApplication.Models.Movie

<a asp-action="Index" asp-controller="Home">Go To Home</a>
<h1>Movie Details Form</h1>

<form asp-action="Save" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Genre" calss="form-label"></label>
        <input asp-for="Genre" class="form-control"/>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ReleaseYear" class="form-label"></label>
        <input asp-for="ReleaseYear" class="form-control" />
    </div>
    <button type="submit" class="btn-primary">Save</button>
</form>